.walletWrapper{
  position: relative;
  width:-webkit-fill-available;
  padding: 0rem 1rem;  
  background-color:  #F5F5F5;
}
.upperWallet{
    display: flex;
    justify-content: space-around;
    margin-right: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
@media only screen and (max-width:800px) {
  .upperWallet{
    flex-direction: column;
    justify-content: center;
  }
  .mycard{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.walletOverviewContainer {
  background-color: #fff;
  width: 301px;
  height: 190px;
  border-radius: 10px;
  position: relative;
}
.btnAddNewCard{
    background-color: #1abcca;
    border-radius: 10px;
  color: #fff;
  border: #1abcca;
  padding: 0.5rem 1rem;
  /* position: absolute; */
  /* right: 30px; */
}
.mycard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.walletOverviewContainer  h6{
    color: #595757;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 14px;
}
.walletOverviewContainer  h5{
    color: #595757;
    padding-left: 10px;
    font-size: 20px;
}

.copyDetails {
  background: #ace4e9;
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
  font-size: 12px;
  color: #595757;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: copy;
}
.walletBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}
.walletAddFund {
  background: #d36135;
  border-radius: 10px;
  border: #d36135;
  padding: 0.5rem 1.2rem;
  color: #fff;
}
.walletWidrawal {
  background: #1abcca;
  border-radius: 10px;
  color: #fff;
  border: #1abcca;
  padding: 0.5rem 1.2rem;
}
