.subscribe-section {
    padding: 1.5rem 3.3rem;
}

.subscribe-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 1240px;
    margin-left: 3.1rem;
    margin-bottom: 1rem;
}

.subscribe-image {
    flex: 1;
}

.subscribe-container {
    flex: 2;
    padding-top: 0.8rem;
    /* padding: 1rem; */
}

.subscribe-image  {
    width: auto;
    height: auto;
}
.subscribe-image img {
    width: 100%;
    height: auto;
}


.subscribe-heading {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 43px; */
    color: #504C49;
}

.blue-bookie {
    color: #1ABCCA;
}

.subscribe-paragraph {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom:2px;
    padding-bottom: .5rem;
}

#subscribe-input {
    width: 65%;
    height: 37px;
    border: 1px solid #1ABCCA;
    border-radius: 8px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #504C49;
    outline: none;

}
.subscriberInput{
padding-bottom: 1rem;
}

#subscribe-input:focus {
    border: 3px solid#1ABCCA;
}

.subscribe-button {
    /* width: 25%; */
    /* height: 37px; */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    /* line-height: 23px; */
    color: #FFFFFF;
    background: #1ABCCA;
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1.3rem;
    margin-left: 1rem;
    cursor: pointer;
}

.subscribe-button:hover {
    border-radius: 0px;
    border: 1px solid #1ABCCA;
    ;
}

@media only screen and (max-width:768px) {
    .subscribe-main-container {
        flex-direction: column;
        margin-left: 1rem;
    }
    .subscribe-section {
        padding: 1.0rem 0.2rem;
    }
    .subscribe-container{
        text-align: center;
        padding: 0.5rem;
    }
    #subscribe-input{
        width: 100%;
    }
    .subscribe-button{
        margin-top: 1rem;
    }
}