@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.sidebar {
  font-family: "Bree Serif", serif;
  flex: 1;
  height: 100vh;
  max-width: 250px;
  background-color: #ffffff;
  color: #595757;
  position: sticky;
  top: 0px;
}
.hamburger {
  display: none;
  /* position: absolute;
  top: 15px;
  right: 15px; */
  cursor: pointer;
}

@media only screen and (max-width:500px) {
  .sidebarwrap{
    display: flex;
    flex-direction: column;
  }
  .sidebar{
    position: fixed;
    top: 0;
    min-width: 320px;
    background-color: #eb0f0f;
    z-index: 1000;
    height: 10vh;
  }
  .sidebarList{
    display: flex;
    height: 10vh;
  }
  .sidebarLogo img{
    width: 30px;
  }
  .listside{
    display: none;
  }
  .hamburger {
      display: block;
      color: #fff;
      border: none;
      background-color:#1abcca;
      font-size:30px;
      border-radius: 3px;
      position: absolute;
      right: 15px;
      top: 5px;
    }
} 
.sidebarwrap{
  display: flex;
}
.sidebarWrapper {
  padding: 20px 0px 10px 20px;
}

.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarLogo{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #595757;
}

.sidebarList  {
  list-style: none;
  padding: 5px;
  color: #595757;

}
a{
 
  text-decoration: none !important;
  color: #595757 !important;
  cursor: pointer;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 1px;
  
}
.n{
  display: block;
}
.LogOut {
  position: absolute;
  bottom: 0;
  color: #eb0f0f;
  padding: 5px 100px 5px 20px;
  margin-bottom: 1rem;
}
.LogOut:hover {
  color: #595757;
  
}
.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #1abcca;
  color: #595757;
}

