.AccountSettings {
  padding-left: 3rem;
  font-family: "Outfit";
  background-color: #FFFFFF;
  /* display: none; */
}

.AccountSettings h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #595757;
}

.la{
    display: block;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #595757;
}
.acctform{
    display: flex;
    align-self: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    /* justify-content: center; */
}
.acctInput{
    min-width: 350px;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    opacity: 0.4;
    /* border: red; */
}
.hb{
    border: 2px solid #595757;

}
.acctcheckbox{
    /* display: flex; */
    align-items: center;
    gap: 10rem;
}
.btnsub{
    background: #1ABCCA;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    padding: 0.3rem 0.9rem;
}
.btnsub:hover{
    background: white;
    border-radius: 10px;
    border: #1ABCCA;
    color: #595757;
    border: 1px solid rgb(22, 206, 238);

}
.btndiscard{
    color: #595757;
    background: #FFFFFF;
    /* border:2px soild #1ABCCA; */
    outline: #1ABCCA;
    border: 1px solid rgb(22, 206, 238);
    border-radius: 10px;
    padding: 0.3rem 0.9rem;

}
.btndiscard:hover{
    background: #1ABCCA;
    border-radius: 10px;
    border: none;
}
.accbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 70%; */
}
