.savemoney-hero-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2.5rem;
   
}

.savemoney-heading {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    color: #595757;
    width: 250px;
    height: 120px;
   
}

.savemoney-hero-section-img{
    width: 100%;
    height: 100%;

    
}
.savemoney-para{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #595757;
    width: 302px;
    height: 89px
    
}
.image-hero-section {
    width: 40%;
    height: 60%;
    
    
}
.saveoney-heading-container {
    width: 40%;
    padding-top: 1rem;
    
}
.savemoney-section-button {
    background: #1ABCCA;
    border-radius: 5px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    color: #FFFFFF;
    width: 170px;
    height: 50px;
    border: none;
    
}
.savemoney-second-section {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;

}
.savemoney-content-container {
    width: 40%;
    
}
.savemoney-content-imageTwo {
    width: 40%;
}
.savemoney-imageTwo {
    width: 100%;
    height: 100%;
}
.savemoney-headingTwo {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #595757;
    width: 207px;
    height: 100px;
    padding-top: 2rem;
    margin-bottom: 1rem;
}
.savemoney-paraTwo {
    width: 321px;
    height: 160px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 33px;
    color: #595757;
    padding: 2rem 0;
}
.Partnership-heading {
    text-align: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #595757;
    padding: 2rem 0;
}
.Partners {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
    flex-wrap: wrap;
}