.settingsWrapper {
  display: flex;
}
.settingsPanel {
  background: #eff6f8;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #595757;
  /* width: 350px; */
  /* position: fixed; */
}
.settingsPanel > h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #595757;
  padding-left: 3rem;
  padding-top: 1.5rem;
}
.settings {
  background-color: #fff;
}

.settingsSideBar {
  background: #eff6f8;
  width: 300px;
}
.listsettings {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  list-style: none;
  color: #333;
  /* gap: 1rem; */
  background: #eff6f8;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.listsettings:hover {
  background: #1abcca;
  color: #fff;
}
.acctsetts {
  display: flex;
  flex-direction: column;
  /* margin-right: 2rem; */
}
#pi {
  font-size: 10px;
 
}
.acctfont{
    font-size: 18px;
}
