.refferalWrapper{
    /* margin-top: 10vh; */
width: 80vw;
    /* display: none; */
}
.refferal{
    font-family: Outfit;
    background-color: #EFF6F8;
    /* background-color: red; */
    /* padding: 5rem; */
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 40px;
}
.refferalWrap{
    background-color: #FFFFFF;
/* background-color: red; */
}
.referralTable{
    width: 100%;
    /* background-color: #FFFFFF; */

    
}

.referralCodeDiv{
    font-family: Outfit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: #EFF6F8;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.referralCodeDiv > h6{
font-size: 14px;
}
.codecopy{
    background: #ACE4E9;
    border-radius: 5px;
/* text-align: right; */
}